.user-info {
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(35, 37, 38, 0.5), rgba(65, 67, 69, 0.5));
    border-radius: 30px;
    position: fixed;

}

.user-head {
    display: flex;
    justify-content: space-between;
}

.user-dashboard-icon {
    width: 100%;
    color: cyan;
}

.inner-box {
    width: 100%;
}

.user-inner-info div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.user-profile {
    cursor: pointer;
    font-size: 40px;
}

.dashboard-icons {
    font-size: 20px;
    margin: 1vw 0;
}

/* User content side(right) */
.user-content {
    position: relative;
    left: 15vw;
}