.home-main {
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    text-align: center;
    width: 50%;
}

.text-interview-ai{
    font-size: 4rem;
    font-weight: bold;

}
.text-interview {
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #4ade80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.text-ai {
    color: antiquewhite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.loder{
  position: relative;
}

.spin {
      /* position: absolute; */
    transform-origin: center;
    animation: spin 2s linear infinite;
    /* width: 300px; */
  }
.custom-icon{
    position: absolute;
    width: 21%;
    left: 32vw;
    top: 53vh;
    font-size: 11vw;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .text-interview-ai{
        font-size: 2rem;
        font-weight: bold;    
    }
    .inner-box h5{
        font-size: 1rem; 
    }
  }
