* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: #ffff;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  margin: 0;
}
/* Avatar width */
.avatar-container {
  /* width: 300px !important; Set the desired width */
  /* height: 300px !important; */
  /* overflow: hidden; */
  /* border-radius: 10px; optional rounded crop */
}