.background-color{
    /* background-color: rgba(20, 20, 20, 0.7); */
    /* background-color: rgba(0, 123, 255, 0.1); */
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);

    color: #ffff;
    width: 80%;
    margin: 20px auto;
    padding: 8px 15px;
    border-radius: 25px;
}
.text-color{
    color: #ffff;
}

.nav-link:hover{
    color: #ffff;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}