<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis-like Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="title">Bablu AI</div>
        
    </nav>

    <div class="main-section">
        <div class="chat-section">
            <div class="chat bablu">
                <div class="sender">Bablu</div>
                <div class="message">Hello Bhai kaisa hai?</div>
            </div>
            <div class="chat human">
                <div class="sender">Human</div>
                <div class="message">Bhai bandi dilwade please!</div>
            </div>
            <div class="chat bablu">
                <div class="sender">Bablu</div>
                <div class="message">Arrey hawas k pujari</div>
            </div>
            <div class="chat human">
                <div class="sender">Human</div>
                <div class="message">Abey Saale</div>
            </div>
        </div>
        <div class="camera-section">
            camera section
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
</html>